body {
  overflow-x: hidden;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.row-container {
  max-width: 1366px;
  margin: auto;
}

.name {
  display: inline-block;
  margin: 0px;
}

.form-login-wrap {
  padding: 40px 40px;
  box-sizing: border-box;
}

.login-wrapper {
  max-width: 1366px;
  margin: auto;
}

.login-bg {
  width: 100%;
}

.profile-name {
  font-weight: 700;
  font-size: 26px;
  text-align: center;
  line-height: 1;
}

.bio-info {
  margin-bottom: 30px;
}

.header-info {
  font-size: 18px;
  font-weight: 800;
  color: rgb(73, 73, 73);
}

.value-info {
  margin-bottom: 14px;
}

.created-at {
  font-size: 11px;
  color: grey;
  margin-top: 10px;
}

.disabled {
  cursor: no-drop;
}
